.gallery-link {
    cursor: pointer;
}

.gallery {

    flex-wrap: wrap;

    justify-content: center;

    gap: 24px;
    margin-left: 156px;
    margin-top: 24px;
    margin-right: 156px;
}

.gallery-item:hover {
    background-color: hsl(200, 94%, 49%);
    /* подсвечивание при наведении */
}